body{
  background-color: rgb(201, 210, 210);
  color: #000000;
}

.header{
   border-radius: 10px;
   text-align: center;
   text-decoration: underline;
}

.inputs{
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 25px;
  margin-bottom: 3px;
   text-align: center;
}

.inputs button{
  margin-left: 3%;
  width:100px;
  height:25px;
}
